HOST=balance-service # if not provided, default is localhost
PORT=3001 # default
RATE_SERVICE_HOST=rate-service # if not provided, default is localhost
RATE_SERVICE_PORT=3002 # default
DB_HOST=postgres-balance # if not provided, default is localhost
DB_PORT=5432 # default
DB_USER=postgres # default by docker
DB_NAME=balances_db
DB_PASSWORD=postgres # will be updated by docker-compose secret if used
COINGECKO_API_KEY=your_coingecko_api_key_here
COINGECKO_API_BASE_URL=https://api.coingecko.com/api/v3
